/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');

:root {
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    background-image: url(./images/typing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

p {
    margin-bottom: 0.5rem;
}


/* Setting Main Container */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,248,220,0.9);
    width: 50%;
    margin-left: 25%;
}


/* Aligning Header Text */
#header {
    text-align: center;
}


/* Setting Form Container and Elements*/
#form-container {
    padding: 2.5rem;
    min-width: 30vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.bio {
    padding-bottom: 0.5rem;
}

.button {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
}


/* Media Queries */
@media (max-width: 600px) {
    #container {
        width: 100%;
        margin-left: 0;
    }
}