/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');

:root {
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    background-image: url(./images/typing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

p {
    margin-bottom: 0.5rem;
}


/* Setting Main Container */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,248,220,0.9);
    width: 50%;
    margin-left: 25%;
    border-radius: 2%;
}


/* Aligning Header Text */
#header {
    text-align: center;
}


/* Setting Form Container and Elements*/
#form-container {
    padding: 2.5rem;
    min-width: 35vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.bio {
    padding-bottom: 0.5rem;
}

.button {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
}

.button input {
    align-self: baseline;
    margin-right: 0.5rem;
}

textarea{
    font-family: "Nunito", sans-serif;
    resize: none;
    overflow: scroll;
    height: 15vh;
}

#submit {
    background-color: #c1bfb581;
    font-size: 1rem;
    padding: 0.5em;
    border: none;
}

#submit:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.24);
}


/* Media Queries */
@media (max-width: 600px) {
    #container {
        width: 100%;
        margin-left: 0;
    }
}